.list-container {
  width: fit-content;
  padding: 4rem 0;

  background-color: white;
  text-align: center;
  margin: 2rem auto;
  box-shadow: 5px 5px 9px grey;
}

.list-container h2 {
  margin-bottom: 2rem;
}

.item-list {
  list-style: none;
  padding: 0.5rem 4rem;
  background-color: #e7e7e7;
  font-size: 16px;
  width: 100%;
  /* border: 2px solid black; */
  box-shadow: 2px 3px 6px grey;
}

tr,
th {
  padding: 0.5rem 4rem;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid wheat;
}

td {
  border: 1px solid wheat;
  border-collapse: collapse;
}

.list-container a {
  text-decoration: none;
  color: blue;
}
